In [47]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, model_selection
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
df = pd.read_excel('titanic.xls')

original_df = pd.DataFrame.copy(df)##
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

In [49]:
def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

In [50]:
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])
clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [51]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

In [52]:
original_df['cluster_group']=np.nan
original_df = original_df.copy()
#copy problem!!#
for i in range(len(X)):
    original_df.loc[i,'cluster_group'] = labels[i]

In [53]:
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

{0: 0.372, 1: 0.6666666666666666, 2: 1.0, 3: 0.1}

In [54]:
print(original_df[ (original_df['cluster_group']==1) ])

     pclass  survived                                               name  \
1         1         1                     Allison, Master. Hudson Trevor
2         1         0                       Allison, Miss. Helen Loraine
3         1         0               Allison, Mr. Hudson Joshua Creighton
4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23        1         1                              Bidois, Miss. Rosalie
24        1         1                                  Bird, Miss. Ellen
35        1         1                           Bowen, Miss. Grace Scott
55        1         1                          Carter, Miss. Lucile Polk
56        1         1                         Carter, Mr. William Ernest
57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
66        1         1                        Chaudanson, Miss. Victorine
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103       1         1                      Endres, Miss. Caroline Louise
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
129       1         1                               Geiger, Miss. Amalie
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
173       1         0                                 Keeping, Mr. Edwin
192       1         1                               Lurette, Miss. Elise
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
233       1         1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
309       1         1                           Wick, Miss. Mary Natalie
310       1         0                           Wick, Mr. George Dennick
311       1         1         Wick, Mrs. George Dennick (Mary Hitchcock)
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)

        sex      age  sibsp  parch    ticket      fare            cabin  \
1      male   0.9167      1      2    113781  151.5500          C22 C26
2    female   2.0000      1      2    113781  151.5500          C22 C26
3      male  30.0000      1      2    113781  151.5500          C22 C26
4    female  25.0000      1      2    113781  151.5500          C22 C26
10     male  47.0000      1      0  PC 17757  227.5250          C62 C64
11   female  18.0000      1      0  PC 17757  227.5250          C62 C64
16     male  24.0000      0      1  PC 17558  247.5208          B58 B60
17   female  50.0000      0      1  PC 17558  247.5208          B58 B60
23   female  42.0000      0      0  PC 17757  227.5250              NaN
24   female  29.0000      0      0  PC 17483  221.7792              C97
35   female  45.0000      0      0  PC 17608  262.3750              NaN
55   female  14.0000      1      2    113760  120.0000          B96 B98
56     male  36.0000      1      2    113760  120.0000          B96 B98
57   female  36.0000      1      2    113760  120.0000          B96 B98
66   female  36.0000      0      0  PC 17608  262.3750              B61
78   female  64.0000      0      2  PC 17756   83.1583              E45
97   female  27.0000      1      1  PC 17558  247.5208          B58 B60
103  female  38.0000      0      0  PC 17757  227.5250              C45
111  female  24.0000      3      2     19950  263.0000      C23 C25 C27
112  female  28.0000      3      2     19950  263.0000      C23 C25 C27
113  female  23.0000      3      2     19950  263.0000      C23 C25 C27
114    male  19.0000      3      2     19950  263.0000      C23 C25 C27
115    male  64.0000      1      4     19950  263.0000      C23 C25 C27
116  female  60.0000      1      4     19950  263.0000      C23 C25 C27
129  female  35.0000      0      0    113503  211.5000             C130
139  female  58.0000      0      1  PC 17582  153.4625             C125
173    male  32.5000      0      0    113503  211.5000             C132
192  female  58.0000      0      0  PC 17569  146.5208              B80
193  female  15.0000      0      1     24160  211.3375               B5
215    male  58.0000      0      2     35273  113.2750              D48
233  female  56.0000      0      1     11767   83.1583              C50
238  female  43.0000      0      1     24160  211.3375               B3
249    male  13.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
250  female  18.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
251  female  21.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
252    male  61.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
253  female  48.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
285    male  67.0000      1      0  PC 17483  221.7792          C55 C57
286  female  63.0000      1      0  PC 17483  221.7792          C55 C57
309  female  31.0000      0      2     36928  164.8667               C7
310    male  57.0000      1      1     36928  164.8667              NaN
311  female  45.0000      1      1     36928  164.8667              NaN
312    male  50.0000      1      1    113503  211.5000              C80
313    male  27.0000      0      2    113503  211.5000              C82
314  female  50.0000      1      1    113503  211.5000              C80

    embarked boat   body                        home.dest  cluster_group
1          S   11    NaN  Montreal, PQ / Chesterville, ON            1.0
2          S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
3          S  NaN  135.0  Montreal, PQ / Chesterville, ON            1.0
4          S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
10         C  NaN  124.0                     New York, NY            1.0
11         C    4    NaN                     New York, NY            1.0
16         C  NaN    NaN                     Montreal, PQ            1.0
17         C    6    NaN                     Montreal, PQ            1.0
23         C    4    NaN                              NaN            1.0
24         S    8    NaN                              NaN            1.0
35         C    4    NaN                  Cooperstown, NY            1.0
55         S    4    NaN                    Bryn Mawr, PA            1.0
56         S    C    NaN                    Bryn Mawr, PA            1.0
57         S    4    NaN                    Bryn Mawr, PA            1.0
66         C    4    NaN                              NaN            1.0
78         C   14    NaN                     Lakewood, NJ            1.0
97         C    6    NaN                     Montreal, PQ            1.0
103        C    4    NaN                     New York, NY            1.0
111        S   10    NaN                     Winnipeg, MB            1.0
112        S   10    NaN                     Winnipeg, MB            1.0
113        S   10    NaN                     Winnipeg, MB            1.0
114        S  NaN    NaN                     Winnipeg, MB            1.0
115        S  NaN    NaN                     Winnipeg, MB            1.0
116        S   10    NaN                     Winnipeg, MB            1.0
129        C    4    NaN                              NaN            1.0
139        S    3    NaN                    Greenwich, CT            1.0
173        C  NaN   45.0                              NaN            1.0
192        C  NaN    NaN                              NaN            1.0
193        S    2    NaN                     St Louis, MO            1.0
215        C  NaN  122.0                    Lexington, MA            1.0
233        C    7    NaN        Mt Airy, Philadelphia, PA            1.0
238        S    2    NaN                     St Louis, MO            1.0
249        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
250        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
251        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
252        C  NaN    NaN  Haverford, PA / Cooperstown, NY            1.0
253        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
285        S  NaN   96.0                     New York, NY            1.0
286        S  NaN    NaN                     New York, NY            1.0
309        S    8    NaN                   Youngstown, OH            1.0
310        S  NaN    NaN                   Youngstown, OH            1.0
311        S    8    NaN                   Youngstown, OH            1.0
312        C  NaN    NaN                  Elkins Park, PA            1.0
313        C  NaN    NaN                  Elkins Park, PA            1.0
314        C    4    NaN                  Elkins Park, PA            1.0

In [55]:
print(original_df[ (original_df['cluster_group']==0) ].describe())

            pclass     survived         age        sibsp        parch  \
count  1250.000000  1250.000000  989.000000  1250.000000  1250.000000
mean      2.340000     0.372000   29.407735     0.485600     0.304800
std       0.814451     0.483532   14.187561     1.048939     0.656843
min       1.000000     0.000000    0.166700     0.000000     0.000000
25%       2.000000     0.000000   21.000000     0.000000     0.000000
50%       3.000000     0.000000   28.000000     0.000000     0.000000
75%       3.000000     1.000000   38.000000     1.000000     0.000000
max       3.000000     1.000000   80.000000     8.000000     4.000000

              fare        body  cluster_group
count  1249.000000  114.000000         1250.0
mean     25.477148  161.991228            0.0
std      28.780926   98.488173            0.0
min       0.000000    1.000000            0.0
25%       7.895800   70.500000            0.0
50%      13.500000  165.500000            0.0
75%      27.900000  257.500000            0.0
max     227.525000  328.000000            0.0

In [56]:
cluster_0 = (original_df[ (original_df['cluster_group']==0) ])
cluster_0_fc = (cluster_0[ (cluster_0['pclass']==1) ])
print(cluster_0_fc.describe())

       pclass    survived         age       sibsp       parch       fare  \
count   274.0  274.000000  235.000000  274.000000  274.000000  274.00000
mean      1.0    0.605839   39.442553    0.375912    0.200730   61.90844
std       0.0    0.489564   13.971044    0.521624    0.476402   39.25586
min       1.0    0.000000    4.000000    0.000000    0.000000    0.00000
25%       1.0    0.000000   29.000000    0.000000    0.000000   29.77500
50%       1.0    1.000000   39.000000    0.000000    0.000000   53.10000
75%       1.0    1.000000   49.000000    1.000000    0.000000   79.65000
max       1.0    1.000000   80.000000    2.000000    2.000000  227.52500

             body  cluster_group
count   30.000000          274.0
mean   172.566667            0.0
std     84.511449            0.0
min     16.000000            0.0
25%    114.000000            0.0
50%    173.500000            0.0
75%    242.250000            0.0
max    307.000000            0.0