In [32]:
import pandas as pd
import quandl
import math 
import numpy as np
from sklearn import preprocessing, model_selection, svm 
from sklearn.linear_model import LinearRegression

In [12]:
df = pd.read_csv('GOOGL.csv')

In [13]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-22,198.528534,199.524521,196.196198,196.946945,196.946945,3433700
1,2009-05-26,196.171173,202.702698,195.195190,202.382385,202.382385,6202700
2,2009-05-27,203.023026,206.136139,202.607605,202.982986,202.982986,6062500
3,2009-05-28,204.544540,206.016022,202.507507,205.405411,205.405411,5332200
4,2009-05-29,206.261261,208.823822,205.555557,208.823822,208.823822,5291100

In [14]:
df = df[['Date','Open','High','Low','Close','Volume',]]

In [15]:
df['HL_PCT'] = (df['High']-df['Close'])/df['Close'] * 100

In [16]:
df['PCT_change'] = (df['Close']-df['Open'])/df['Open'] * 100

In [17]:
df = df[['Date','Close','HL_PCT','PCT_change','Volume']]

In [18]:
df.head()

         Date       Close    HL_PCT  PCT_change   Volume
0  2009-05-22  196.946945  1.308767   -0.796656  3433700
1  2009-05-26  202.382385  0.158271    3.166221  6202700
2  2009-05-27  202.982986  1.553408   -0.019722  6062500
3  2009-05-28  205.405411  0.297271    0.420872  5332200
4  2009-05-29  208.823822  0.000000    1.242386  5291100

In [19]:
forecast_col = 'Close'

In [20]:
df.fillna(-99999, inplace=True)

In [23]:
forecast_out = int(math.ceil(0.01*len(df)))

In [26]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [35]:
df = df[['Close','HL_PCT','PCT_change','Volume','label']]

In [36]:
df.head()

        Close    HL_PCT  PCT_change   Volume       label
0  196.946945  1.308767   -0.796656  3433700  212.872879
1  202.382385  0.158271    3.166221  6202700  212.282288
2  202.982986  1.553408   -0.019722  6062500  211.006012
3  205.405411  0.297271    0.420872  5332200  209.704712
4  208.823822  0.000000    1.242386  5291100  204.449448

In [37]:
df.dropna(inplace=True)

In [38]:
df.head()

        Close    HL_PCT  PCT_change   Volume       label
0  196.946945  1.308767   -0.796656  3433700  212.872879
1  202.382385  0.158271    3.166221  6202700  212.282288
2  202.982986  1.553408   -0.019722  6062500  211.006012
3  205.405411  0.297271    0.420872  5332200  209.704712
4  208.823822  0.000000    1.242386  5291100  204.449448

In [39]:
X = np.array(df.drop(['label'],1))
y = np.array(df['label'])

In [40]:
X = preprocessing.scale(X)

In [41]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [51]:
clf = LinearRegression(n_jobs = 10)

In [52]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=10, normalize=False)

In [53]:
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9830887543540572

In [48]:
clf = svm.SVR(gamma='auto')

In [49]:
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.7278129316058186

In [50]:
clf = svm.SVR(gamma='auto', kernel='poly')
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.5197368560826503